body{
    font-family: Verdana, Arial, Helvetica;
}

.highlight-red {
    font-weight: bold;
    color: red;
}			

.highlight-blue {
    font-weight: bold;
    color: blue;
}			

.highlight-black {
    font-weight: bold;
}

.instruction {
    font-size: 14px;
    font-style: italic;
}

.main-heading, .container, .footer {
    width: 500px;
    /* margin value of auto places the content in the center */
    padding: 5px;
    margin: auto;
}

.container {
    display: table;
    border: 0.5px solid green;
}

.ralign {
    /*display: flex; 
    justify-content: flex-end;*/
    float:right;
}

.centrealign{
    text-align: center;
}

img {
    float: left;
    padding: 10px;
}
			
table td { 
    width: 10em; 
    border: 0.5px solid #193d1d;
    font-weight: bold;
}		