<!DOCTYPE html>

<html>

<head>

<link href={{url_for('static',filename='css/styles.css')}} rel='stylesheet'>
    
<style>
body {
  background-image: url({{url_for('static', filename='images/basketball.jfif')}});
  background-size: cover;
}

</style>
</head>

<body>
    <div> 
        <div>
        <h1 class="highlight-blue" style="float: right;">
            Add a CCA
        </h1>
        </div>

        <div>
            <p class="highlight-red" style="float: right;">
        Please input your name (as per NRIC):
            </p> 
        </div>
    </div>
    


</body>
    
</html>


