<!-- Footer Section -->
<footer class="footer">
    <div class="centrealign">
        
        <p>
        <a href="/new_cca">Add a new CCA</a>
        <a href="/new_activity">Add a new activity</a> |
        </p>
            
        <p>
        <a href='/view_all_students'>View all students</a> |
        <a href='/view_all_classes'>View all classes</a>
        </p>

        <p>
        <a href='/view_all_ccas'>View all ccas</a>
        <a href='/view_all_activities'>View all activities</a>
        </p>

        <p>
        <a href='/edit_membership'>Edit membership</a> |     
        <a href='/edit_participation'>Edit_participation</a>
        </p>

        
    </div>
</footer>