<!DOCTYPE html>
<!-- NOTE
Span and div are both generic HTML elements that group together 
related parts of a web page. However, they serve different functions. 
A div element is used for block-level organization and styling of page 
elements, whereas a span element is used for inline organization and styling.
-->
<html>
	<head>
		<title>{{page_title}}</title>
		<link href={{url_for('static',filename='css/styles.css')}} rel='stylesheet'>
	</head>
	
	<body>
		{% include "header.html" %}
        
        <div class="container">
            
        {% if page_type == 'view_all_students' %}	
            <table>
                <tr>
                    <th>Name</th>
                    <th>Class</th>
                </tr>
                
                {% for record in collection %}
                    <tr>
                        {% for value in record.values() %}
                            <td>{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>

        
        </div>
            
        {% include "footer.html" %}
	</body>
	
</html>